{% extends 'job_portal/base.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student - Udemy</title>
  <link rel="stylesheet" href="{% static 'job_portal/ho.css' %}">
  <link rel="stylesheet" href="{% static 'job_portal/circle.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

</head>
    <section>

        <nav class="navbar">
        
                  <div class="brand">

            <a class="navbar-brand" href="#" >Talentconnect</a>
            <div class="navi">
            <a href="{% url 'post' %}" class="nav-link">Posts</a>
            <a href="{% url 'subscribe' %}" class="nav-link">Subscription</a>
            <a href="{% url 'intern' %}" class="nav-link">Jobs</a>
            </div>
            <div class="profile-dropdown">
                    <i class="fas fa-user-circle profile-icon" ></i>
                    <div class="dropdown-content">
                        <a href="{% url 'employer' %}">My Profile</a>
                        <a href="#">Settings</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <style>

    </style>



    <section class="section-2"
      style="
      background-image: url('{% static 'images/canva1.png' %}');
     /* background-size: cover; */
     background-size:100% 100%;
     background-position: center;
     /* padding: 50px 0px; */
     padding: 60px 0;
     height: 600px;"
     >
          <!-- </div> -->
          <div class="row-1">
          <div class="col-2" >
            <h1 style="color: var(--light-purple)">Hello,<span class="highlight"> {{ username }}!</span></h1> 
            <h2 style="color: var(--light-purple);">Your company deserves the best talent, </h2>
            <h2 style="color: var(--light-purple);">let’s find them together</h2>
          </div>
          </div>
        <!-- </div> -->
    </section>
 
    <div class="container">
        <div class="header">
          <h1>Hiring made easy with TalentConnect</h1>
        </div>
        
        <div class="process-flow">
          <div class="step">
            <div class="step-icon">
              <img src="{% static 'images/job.png' %}" alt="Post job icon">
            </div>
            <h3 style="color: var(--dark-purple);">Post your job</h3>
            <p>Post the Job Description and relevant</p>
          </div>
          
          <div class="step">
            <div class="step-icon">
              <img src="{% static 'images/Screen.png' %}" alt="Review icon">
            </div>
            <h3 style="color: var(--dark-purple);">Screen top profiles</h3>
            <p>Get access to view top profiles matches your job</p>
          </div>
          
          <div class="step">
            <div class="step-icon">
              <img src="{% static 'images/hire.png' %}" alt="Hire icon">
            </div>
            <h3 style="color: var(--dark-purple);">Hire the one</h3>
            <p>Select your match With our high end tools and hire now </p>
          </div>
        </div>
      </div>



      <div class="content">
        <div class="column">
          <img src="{% static 'images/review.png' %}" alt="Internships by places">
          <h3>Increase your reach</h3>
        </div>
        <div class="column">
          <img src="{% static 'images/badge1.png' %}" alt="Internship by Stream">
          <h3>Discover top talent</h3>
        </div>
        <div class="column">
          <img src="{% static 'images/verify1.png' %}" alt="Jobs by Places">
          <h3>Assess their skills</h3>
        </div>
        <div class="column">
          <img src="{% static 'images/org.png' %}" alt="Jobs by Stream">
          <h3>Manage your applicants</h3>
        </div>
      </div>


    <footer>
        <div class="footer-links">
            <a href="#">About us</a>
            <a href="#">We're hiring</a>
            <a href="#">Hire interns for your company</a>
            <a href="#">Post a Job</a>
            <a href="#">Team Diary</a>
            <a href="#">Blog</a>
            <a href="#">Our Services</a>
            <a href="#">Free Job Alerts</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy</a>
            <a href="#">Contact us</a>
        </div>
        <div class="social-links">
            <a href="#" class="social-icon">
                <i class="fab fa-google-play"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-app-store"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fas fa-phone"></i>
            </a>
        </div>

        <!-- <div class="social-links">
            <a href="#"><img src="{% static 'images/playstore.jpg' %}"></a>
            <a href="#"><img src="{% static 'images/appstore.jpg' %}" alt="App Store" style="width: 40px; padding-right: 10px; padding-top: 9px;"></a>
            <a href="#"><img src="{% static 'images/instagram1.jpg' %}" alt="Instagram" style="width: 27px; padding-right: 10px; padding-bottom: 5px;"></a>
            <a href="#"><img src="{% static 'images/telephone.jpg' %}" alt="Telephone" style="width: 27px; padding-right: 10px; padding-bottom: 5px;"></a>
        </div> -->

        <p>© Copyright 2024 TalentConnect </p>
    </footer>

{% endblock content %}